$green          : #58e1c1;
$turquoise          : #51ddfc;
$grey           : #878787;
$white: #fff;
$red: #df454d;
$purple: #986cef;
$orange: #fd7856;


// Media Query Breakpoints 

$brk-narrow: '(min-width: 768px)';
